*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    font-weight: normal;
}
.navigation-bar{
    text-align: center;
    padding: 10px;
    background-image: url(../images/navigationbars.jpg);
}
.navigation-bar a{
    text-decoration: none;  /* remove underline text */
    color: #fff;
    font-size: 25px;
    font-family: Karla, sans-serif;
    margin-right: 80px;
    border: 2px solid transparent;
    padding: 10px;      /* its like the background image of the text */
    transition: 0.3s;
}
.navigation-bar a:hover{
    background: grey;
    border: 2px solid #fff;  /* UI */
}
.subjects-section{
    width: 100%;
    height: 770px;
    text-align: center;
}
.subjects-section h2{
     font-size: 25px;
     font-family: Karla, sans-serif;
     padding: 10px;
     color: #bbd1d3;
}
.subjects-section .image{
    width: 29%;
    margin: 2%;
    float: left;
}
.about-section{
    background-color: #f2f2f2;
    height: 230px;
}
.about-section h2{
    text-align: center;
    font-size: 30px;
    font-family: Karla, sans-serif;
    color: #ff8000;
}
.about-section p{
    font-size: 15px;
    font-family: Karla, sans-serif;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 15px;
    line-height: 30px;
    background-color: #383637;
    color: lightgray;
}
.image img{
    width: 300px;
    height: 300px;
    transition: all ease 0.5s;
    transform: scale(1);
}
.image img:hover{
    transform: scale(1.2);
}
.contact-section{
    height: 280px;
    background: gray;
    text-align: center;
}
.contact-section h2{
    text-align: center;
    font-size: 30px;
    font-family: Karla, sans-serif;
    color: #ff8000;
    height: 70px;
}
input{
    display: flex;
    margin: 10px auto 0;
    margin-buttom: 100px;
    border-radius: 100px;
    border: 2;
    background: #50555b;
    color: #fff;
}
textarea{
    border: 0;
    border-radius: 10px;
    height: 100px;
    width: 500px;
    background: #50555b;
    color: #fff;
}
.inp-msg{
    height: 100px;
    width: 500px;
}
.footer{
    font-size: 20px;
    height: 160px;
    padding: 10px;
    text-align: center;
    cursor: default;
}
.footer p{
    font-size: 13px;
    font-family: Karla, sans-serif;
    border-bottom: 1px solid grey;
    padding: 10px;
    line-height: 20px;
}
.footer img{
    transition: all ease 0.5s;
    transform: scale(1);
}
.footer img:hover{
    transform: scale(1.2);
}
