*{
  margin: 0;
  padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-weight: normal;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
  width: 7.5%;
  height: 73%;
  float: left;
}

.nav{
    width: 350px;
    height: auto;
    position: absolute;
    top:20%;
    left:0;
}
.nav a{
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana, serif;
    display: inline-block;
    height: 50px;
    margin: 5px 0;
    float: left;
    background-color: #ffd1b3;
    color: black;
    line-height: 50px;
    text-align: center;
    transition: 200ms;
}
a.active, .nav a:hover{
    background-color: #ff8533;
    color: white;
    width: 70%;
}
    .a{
        width: 75%;
    }
    .b{
        width: 75%;
    }
    .c{
        width: 75%;
    }
    .d{
        width: 75%;
    }
    .e{
        width: 75%;
    }
    .f{
        width: 75%;
    }
    .g{
        width: 75%;
    }
    .h{
        width: 75%;
    }
    .i{
        width: 75%;
    }
    .content{
        position: absolute;
        width: 930px;
        min-height: 500px;
        height: auto;
        right: 0;
        top: 25%;
    }
    .home{
      margin-left: -500px !important;
      margin-right: 500px !important;
      max-width: 600px;
      max-height: 600px;
      background-color: black;
      /*right: 10px;*/
      color: white;
      font-family: Verdana, serif;
      padding: 0 80px;
      font-size: 16px;
      line-height: 24px;

      display: none;
    }
    .introduction{
      margin-left: -500px !important;
      margin-right: 500px !important;
      max-width: 600px;
      background-color: black;
      color: white;
      font-family: Verdana, serif;
      padding: 0 60px;
      font-size: 14px;
      line-height: 24px;
      display: none;
    }
    .syntax{
      margin-left: -500px !important;
      margin-right: 500px !important;
      max-width: 600px;
      background-color: black;
      color: white;
      font-family: Verdana, serif;
      padding: 0 60px;
      font-size: 14px;
      line-height: 20px;
      display: none;
    }
    .colors{
      margin-left: -500px !important;
      margin-right: 500px !important;
      max-width: 600px;
      background-color: black;
      color: white;
      font-family: Verdana, serif;
      padding: 0 60px;
      font-size: 14px;
      line-height: 24px;
      display: none;
    }
    .backgrounds{
      margin-left: -500px !important;
      margin-right: 500px !important;
      max-width: 600px;
      background-color: black;
      color: white;
      font-family: Verdana, serif;
      padding: 0 60px;
      font-size: 14px;
      line-height: 24px;
      display: none;
    }
    .footer{
        background-image: url("../images/navigationbars.jpg");
        font-size: 20px;
        height: 130px;
        padding: 10px;
        text-align: center;
        color: #fff;
        cursor: default;
    }
/*    .footer p{
        font-size: 13px;
        font-family: Karla, sans-serif;
        border-bottom: 1px solid grey;
        padding: 10px;
        color: lightgray;
        line-height: 20px;
    }*/
    .footer img{
        transition: all ease 0.5s;
        transform: scale(1);
    }
    .footer img:hover{
        transform: scale(1.2);
    }

    #try {
      text-align: center;
      width: 90%;
    }

a, a:visited {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .home {
    margin-left: 350px !important;
    margin-right: 100px !important;
  }
  .introduction {
    margin-left: 350px !important;
    margin-right: 150px !important;
  }
}
